/* ===================================================
FONTS AND VARIABLES
=====================================================*/

@font-face {
  font-family: 'Caslon-RR';
  src: 
         url('../fonts/caslon/Caslon-RR-Bold-ExtraCond.otf?#iefix') format('embedded-opentype'),
         url('../fonts/caslon/Caslon-RR-Bold-ExtraCond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caslon/Caslon-RR-Bold-ExtraCond.woff') format('woff'),
         url('../fonts/caslon/Caslon-RR-Bold-ExtraCond.ttf') format('truetype'),
         url('../fonts/caslon/Caslon-RR-Bold-ExtraCond.svg#icomoonregular') format('svg');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: 
      url('../fonts/grotesk/SpaceGrotesk-VariableFont_wght.otf?#iefix') format('embedded-opentype'),
      url('../fonts/grotesk/SpaceGrotesk-VariableFont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/grotesk/SpaceGrotesk-VariableFont_wght.woff') format('woof'),
      url('../fonts/grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype'),
      url('../fonts/grotesk/SpaceGrotesk-VariableFont_wght.svg#icomoonregular') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceGroteskBold';
  src: 
    url('../fonts/grotesk/SpaceGrotesk-VariableFont_wght.otf?#iefix') format('embedded-opentype'),
    url('../fonts/grotesk/SpaceGrotesk-VariableFont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/grotesk/SpaceGrotesk-VariableFont_wght.woff') format('woof'),
    url('../fonts/grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype'),
    url('../fonts/grotesk/SpaceGrotesk-VariableFont_wght.svg#icomoonregular') format('svg');
  font-weight: bold;
}


:root {
  /*FONTS*/
  --f-font-special:      Caslon-RR;
  --f-text-regular:      SpaceGrotesk;
  --f-text-bold:         SpaceGroteskBold;

  
  /*COLORS*/
  --c-bg-color:           #EAE3DE;
  --c-nuclear-color:      #fff;
  --c-text-color:         #0A0A0A;
  --c-accent-text-color:  #338890;
  --c-amber-color:        #FE7629;
  --c-gold-color:         #F7FC83;
  --c-gold-color-light:   #FFF6CD;
  --c-pearl-color:        #8F8279;
  --c-banana-color:       #FDDB56;
  --c-cheddar-color:      #FAC367;
  --c-watermelon-color:   #E87395;

  /*SIZEZ*/

  --fs-s-m:           14px;
  --fs-s-l:           16px;
  --fs-m-s:           20px;
  --fs-m:             24px;
  --fs-m-l:           32px;
  --fs-l-s:           40px;
  --fs-l:             48px;
  --fs-l-l:           56px;
  --fs-xl-s:          64px;
  --fs-xl-l:          72px;
  --fs-xl-xl:         80px;
  --fs-xxl-s:         88px;
  --fs-xxl-m:         120px;
  --fs-xxl-xl:        160px; 
}
