.a-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    color: var(--c-text-color);
}

.a-btn--contact {
    position: fixed;
    right: 32px;
    bottom: 16px;
    left: 32px;
    border: 1px solid var(--c-text-color);
    padding: 16px 48px;
    background-color: var(--c-gold-color);
    font-size: 24px;
    text-align: center;
    z-index: 10;
}

.a-btn--header {
    border: 1px solid var(--c-text-color);
    padding: 8px 16px;
    background-color: var(--c-gold-color);
}


@media screen and (min-width: 1020px) {
    .a-btn--contact {
        margin: 0 auto;
        transition: all 280ms ease-in-out;
        position: absolute;
        top: 146px;
        right: 16px;
        bottom: auto;
        left: auto;
        padding: 24px 48px;
        font-size: 40px;
    }

    .a-btn--contact:hover {
        background-color: var(--c-text-color);
        color: var(--c-gold-color);
    }
}