.a-quote {
  font-size: 32px;
  color: var(--c-pearl-color);
}

.a-quote--xl {
  font-size: 56px;
  color: var(--c-nuclear-color);
}
  
@media screen and (min-width: 1020px) {
  .a-quote {
    font-size: 40px;
    color: var(--c-pearl-color);
  }

  .a-quote--xl {
    font-size: 72px;
    color: var(--c-nuclear-color);
  }
  
}

@media screen and (min-width: 2000px) {
  .a-quote {
    font-size: 56px;
  }

  .a-quote--xl {
    font-size: 90px;
    color: var(--c-nuclear-color);
  }
}