.a-title {
    margin: 0;
    /* font-family: var(--f-font-special); */
    font-family: Helvetica Neue;
    font-weight: unset;
}

.a-title--xxl {
    font-size: 17.1vw;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    line-height: 0.88;
}

.a-title--m {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 0.88;
}

@media screen and (min-width: 1020px) {
    .a-title--xxl {
        font-size: 17.3vw;
    }

    .a-title--m {
        font-size: 56px
    }
}