.o-layout {
    position: relative;
    display: flex;
    flex-direction: column;
}

.o-layout__cell {
    flex-direction: column;
    font-size: var(--fs-m-s);
}

.o-layout__cell--quote {
    padding: 72px 0;
}

.o-layout__cell-pill {
    display: inline-block;
    margin: 8px 7px 8px 0;
    padding: 4px 20px;
    border-radius: 50px;
    background-color: var(--c-nuclear-color);
    color: var(--c-bg-color);
}


@media screen and (min-width: 1020px) {
    .o-layout__row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .o-layout__cell {
        display: flex;
        flex: 1;
        font-size: var(--fs-m);
    }

    .o-layout__cell--quote {
        padding: 120px 0 0;
    }

    .o-layout__cell-pill {
        font-size: 32px;
    }

    .o-layout__cell--double {
        display: flex;
        flex: 2;
    }

    .o-layout__cell--triple {
        display: flex;
        flex: 3;
    }
}


@media screen and (min-width: 1300px) {
    .o-layout__cell-pill {
        font-size: 40px;
    }
  }
