.o-splash {
    animation-name: FadeIn;
	animation-duration: 1400ms;
	animation-iteration-count: once;
	animation-timing-function: linear;
    position: relative;
    font-size: var(--fs-s-m);
}

.o-splash__sub-header {
    display: flex;
    flex: row;
    margin-top: 8px;
    padding: 8px;
    border-top: 1px solid var(--c-text-color);
    border-bottom: 1px solid var(--c-text-color);
    align-items: center;
}

.o-splash__sub-header--cell {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    flex: 1;
}

.o-splash__title {
    font-size: 44px;
    margin-bottom: 32px;
    line-height: 0.9;
    white-space: nowrap;
}

.o-splash--icon {
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.o-splash--wordly {
    color: var(--c-nuclear-color);
}

.o-splash__sub-header--cell:last-child {
    text-align: right;
    display: none;
}

.o-splash--image {
    display: block;
    width: 100%;
    height: auto;
    margin: 16px 0;
}

.o-splash--fit {
    width: 85%;
    margin: 0 auto;
}

@media screen and (min-width: 1020px) {
    .o-splash {
        font-size: var(--fs-m-s);
    }

    .o-splash__title {
        font-size: 80px;
        margin-bottom: 56px;
        font-weight: bold;
    }

    .o-splash__sub-header {
        margin-top: 16px;
        padding: 16px 24px;
    }

    .o-splash--icon {
        width: 80px;
        height: 80px;
    }

    .o-splash__sub-header--cell:last-child {
        display: block;
    }
}

@media screen and (min-width: 1820px) {
    .o-splash__title {
        font-size: 120px;
        margin-bottom: 56px;
    }

    .o-splash--icon {
        width: 100px;
        height: 100px;
    }
}


@media screen and (min-width: 2000px) {
    .o-splash__title {
        font-size: 152px
    }
}