.m-carousel {
    display: flex;
    flex-direction: row;
    margin: 56px auto;
}

.m-carousel__item {
    width: 420px;
    text-align: center;
}

.m-carousel__item img {
    height: 48px;
    opacity: 0.5;
}